html {
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    background-color: #000000;
    font-family: 'JetBrainMono';
    overflow-x: hidden;
}
#in {
    border-radius: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    outline: none;
    width: 250px;
    border: none;
    font-family: 'JetBrainMono';
}
#output {
    color: #ffffff;
}
#prefix {
    display: inline;
    color: #ffffff;
    font-family: 'JetBrainMonoBold';
}
.special {
    color: #eaff00;
    font-family: 'JetBrainMonoBold';
}
.error {
    color: #ec0505;
    font-family: 'JetBrainMono';
}
.url {
    color: #575757;
    font-family: 'JetBrainMonoBold';
}
.url a {
    color: #616161;
    text-decoration: none;
    transition: 0.2s;
}
.url a:hover {
    color: #f7f7f7;
    text-decoration: underline;
}