@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainMono.woff');
}
body {
    background-color: #000;
}
.main-panel {
    color: #247a31;
    font-family: 'JetBrains Mono', sans-serif;
}
.main-panel .input-f {
    color: #247a31;
    background-color: #000;
    border-radius: 5px;
    font-family: 'JetBrains Mono';
    width: 50vh;
}
input:focus{
    outline: none;
    border: none;
}
input {
    outline: none;
    border: none;
}
.main-panel .main-content {
    position: fixed;
    bottom: 0px;
    padding: 5px;
}
#thing {
    display: inline;
    position: relative;
}

a {
    transition: 0.5s;
    text-decoration: none;
}
a:link {
    color: #009717;
    text-decoration: none;
  }
  a:visited {
    color: rgb(41, 41, 41);
    text-decoration: none;
  }
  a:hover {
    color: rgb(175, 175, 175);
    text-decoration: underline;
  }
  a:active {
    color: rgb(41, 41, 41);
    text-decoration: none;
  }