@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainMono.woff');
}
@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('JetBrainsMonoBold.woff');
}
body {
    background-color: #000;
}
.main-panel {
    color: #247a31;
    font-family: 'JetBrains Mono', sans-serif;
}
.main-panel .input-f {
    color: #247a31;
    background-color: #000;
    border-radius: 5px;
    font-family: 'JetBrains Mono';
    width: 50vh;
    font-size: 16px;
}
input:focus{
    outline: none;
    border: none;
}
input {
    outline: none;
    border: none;
}
.main-panel .main-content {
    position: fixed;
    top: 0px;
    padding: 1px;
    
}
#thing {
    display: inline;
    position: relative;
    font-family: 'JetBrains Mono Bold';
}

a {
    transition: 0.5s;
    text-decoration: none;
}
a:link {
    color: #009717;
    text-decoration: none;
  }
  a:visited {
    color: rgb(41, 41, 41);
    text-decoration: none;
  }
  a:hover {
    color: rgb(175, 175, 175);
    text-decoration: underline;
  }
  a:active {
    color: rgb(41, 41, 41);
    text-decoration: none;
  }

  .changelog {
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'JetBrains Mono', sans-serif;
    padding: 18px;
    font-size: 18px;
    height: auto;
    margin-top: 100px;
    margin-bottom: auto;
    transition: 1s;
    text-align: center;
    animation: fadeIn 1s linear;
    display: none;
  }
  .changelog .titles {
    font-size: 50px;
    font-family: 'JetBrains Mono Bold';
  }
  #msrs {
    border-radius: 10px;
    background-color: #000;
    color: white;
    padding: 8px;
    opacity: 0.5;
    transition: 1s;
    border: solid red 3px;
  }
  #msrs:hover {
    opacity: 1;
  }
  ul {
    list-style-position: inside;
    text-align: center;
  }
#output {
    padding: 1px;
}  
#rssd {
  animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  br {
    padding: 0px;
  }

  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  @keyframes fadeOut {
    from {opacity: 1} 
    to {opacity: 0}
  }